@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 0.2em;
    height: 0.4em;
    min-width: 0.1em;
}

 
/* Track */
::-webkit-scrollbar-track {
    background: #2A2A34;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #EBEEB2;
    border-radius: 5px;
}
 
/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: #555;
} */

@media only screen and (max-width: 600px) {
    ::-webkit-scrollbar {
        height: 0.2em;
    }
  }